body{
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    text-align: justify;
}
ul{
    list-style-type: none;
    overflow: hidden;
    border: 1px solid #cec9c9;
    background-color: #dddbdb;
    margin: 0;
    padding-right: 5%;
}
li{
    float: right;
}
li a{
    display: block;
    color: rgb(15, 14, 14);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.header-text{
    font-size: 40px;
    padding-top: 10%;
}
.orange-color{
    color: tomato;
}
#home{
    display: flex;
}
.half-width{
    width: 50%;
    margin: 5%;
}
.half-width img{
    width: 80%;
}
.half-width a{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    color: white;
    padding: 3%;
    border-radius: 20px;
}
.half-width p{
    margin-bottom: 10%;
}
#aboutUs{
    display: flex;
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
}
#aboutUs img{
    width: 60%;
    padding-left: 10%;
}
#aboutUs h1{
    padding-top: 10%;
}
.text-center{
    text-align: center;
}
.card{
    display: flex;
}
.one-third-width{
    width: 32%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 3%;
    border-radius: 8%;
}
.card img{
    width: 80%;
    margin: 10%;
}
.card-text p{
    margin: 5% 10%;
}
.card-text h3{
    margin: 5% 10%; 
}
.address{
    text-align: center;
    margin: 20px 0 100px 0;
    background-image: linear-gradient(#7b4397  ,#dc2430);
    color: white;
    /* display: inline-block; */
    padding: 4% 12%;
    border-radius: 20px;
    margin: 10%;
}
footer{
    background-color: black;
    color: rgb(185, 181, 181);
}
.white-color{
    color: white;
}